/* Set common background color */
.navbar-color,
.setup-color {
    background-color: #fbfbf2;
}

/* Set common background color with opacity */
.span-color,
.btn-color,
.table {
    background-color: rgba(229, 230, 228, 0.3);
}

.input-field-color {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Set hover styles for buttons */
.btn:hover {
    background-color:  rgba(229, 230, 228, 0.7);
    color: black;
}

/* Set default background and font colors for body */
body {
    background-color: #e5e6e4;
}

/* Remove underline from links within h1 */
h1 a{
    text-decoration: none !important;
}

/* Set styles for loading spinner */
#loader {
    display: none;
}

/* Set styles for success message display */
#success_display {
    display: none;
}

/* Set common styles for table */
.table {
    table-layout: fixed;
}

/* Set styles for table rows and cells */
.table tr > td:hover {
    overflow: visible;
    word-wrap: break-word;
    white-space: unset;
}
.table td {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis; 
}

/* Set styles for table headers */
.table th {
    text-align: center;
    background-color: rgba(229, 230, 228, 0.7);
}

/* --- Layout --- */

#content {
    table-layout: fixed;
}
  
#submit_btn_row {
    display: flex;
}
  
/* --- Display --- */
  
#scraped_data_div,
#loader,
#success_display {
    display: none;
}
  
#setup_display {
    display: block;
}